
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Hind:wght@300&display=swap');

/*Reset*/

*{
  padding-top: 2px;
    padding-bottom: 1px;
    margin-top: -1px;
  box-sizing: border-box;
}

body{
  background-color: #DAB6FC;
}

.main-header--lista li{
  display: inline-flex;
  padding: 5px;
  justify-content: space-around;
  color: beige;
  margin-left: 19%;
  font-size: 30px;
  font-family: 'Fjalla One', sans-serif;
  color: #757BC8;
}
.main-header--nav{
  background-color: #ADA7FF;

}

.icono{
  color:#757BC8;
}
.icono:hover{
 background-color: #DAB6FC;
 border-radius: 20px;

}
.main-section h1{
  color: #757BC8;
  font-family: 'Hind', sans-serif;
  font-size: 50px;
}
.parrafinhos {
  background-color: white;
  color: #8187DC;
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  width: 50vw;
  height: auto;
  display: flexbox;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}

img{
  display: block;
  margin: auto;
}

footer {
  display: inline-block; 
  position: absolute;
  
  width: 100%;
  background-color: #757BC8;
}
.main-section{
  margin: auto;
  padding-bottom: 20vh;
}

.icon{
  text-decoration: none;
  background-color: #757BC8;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.parrafinhos_2 {
  padding: 10px 20px;
  background-color: #8187DC;;
  border: none;
  border-radius: 3vw;
  margin: auto;
  font-size: x-large;

}
.descargar a{
  margin: auto;
}

.parrafinhos_2:hover {
  background-color: #7A98DA;
  cursor: pointer;
}

.studios{
  display: flex;
  margin-top: 100px;
}

.descargar{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.img_curriculum{
  width: 50%;
  margin-left: 20px;
}

.descripcion{
  margin: auto;
  text-align: center;
  
  width: 50%;
}

.imagenleonardo {
  width: 380px;
  margin: 40px;
  margin: 0 auto;
  margin-top: 20px;
  border: 10px solid white;
  border-radius: 10%;
  margin-bottom: 35px;
}

.pcontacto {
  background-color: white;
  color: #8187DC;
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  width: 200px;
  height: auto;
  display: flexbox;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
}



.social-media{
  width: 100%;
  height: 80vh;
  display: flex;
}

.social-media-icons{
    margin: auto;
}

@media (max-width: 680px){
  .main-header--lista {
    display: flex;
    flex-direction: column;
    margin-left: -6em;  
  }  
  .studios{
    flex-direction: column;
  }
  .img_curriculum{
    width: 90%;
  }
}

